.calc {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0 0 10px black;
    background-color: white;
    &__screen-container {
        flex-grow: 1;
        background-color: black;
    }
    &__btn-container {
        padding: 7px;
        flex-grow: 4;
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 5px;
    }
}